.room {
  background-color: black;
  min-height: 84vh;
  display: flex;
  justify-content: space-evenly;
  color: black;
  margin-top: 10px;
}
.profiles_container {
  background-color: white;
  border-radius: 10px;
  width: 20%;
}
.profile_card{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 13px 1rem;
  border-bottom: 0.01px solid black;
}
.profile{
  display: flex;
  gap: 10px;
}
.profile_dp{
  border-radius: 100%;
  width: 2rem;
}
.pc_heading{
  font-weight: bolder;
  padding: 1rem 1rem;
  border-bottom: 1.5px solid black;
}
.chat_container_right {
  background-color: white;
  border-radius: 10px;
}
