.room {
  background-color: black;
  min-height: 90vh;
  display: flex;
  justify-content: space-evenly;
}
.profiles_container_left {
  background-color: white;
  border-radius: 10px;
  min-height: 90vh;
  width: 30%;
}
.chat_container_right {
  background-color: white;
  border-radius: 10px;
  min-height: 90vh;
  width: 65%;
}
