.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: black; */
    background-image: linear-gradient(to bottom , black, rgba(0, 0, 0, 0.062));
    color: white;
    padding: 0 2rem;
    height: 10vh;
}
.company_logo{
    cursor: pointer;
}